local addonName, addon = ...
local config = addon.config

config.enhanceTargetFrame = true -- Enhance target frame health bar, if enabled the default display will be in percent health and exact values on mouse over
